<?php
$form = $this->form;
$form->setAttribute('action', $this->url('application/default', array('controller' => 'categoria', 'action' => 'adicionar')));
$form->setAttribute('class', 'form-horizontal');
$form->prepare();
?>
<div class="row-fluid">
	<h1>Categorias</h1>
	<a class="pull-right" href="<?php echo $this->url('application/list', array('controller' => 'categoria')) ?>">Voltar para a lista</a>
	<br />
	<br />
	<?php
	echo $this->form()->openTag($form);
	echo $this->formCollection($form);
	echo $this->form()->closeTag();
	?>
</div>
