<div class="row-fluid">
	<h1>Categorias</h1>
	<div class="pull-right">
	<a href="<?php echo $this->url('application/default', array('controller' => 'categoria', 'action' => 'adicionar')) ?>">Nova Categoria</a> | 
	<a href="<?php echo $this->url('application/default', array('controller' => 'categoria', 'action' => 'gerar-pdf')) ?>">Gerar PDF</a>
	</div>
	<br />
	<br />
	<table class="table table-hover">
		<thead>
			<tr>
				<th style="width: 50px;">ID</th>
				<th>Nome</th>
				<th style="text-align: right;">Ações</th>
			</tr>
		</thead>
		<tbody>
			<?php foreach ($this->categorias as $categoria): ?>
				<tr>
					<td><?php echo $categoria->getId() ?></td>
					<td><?php echo $categoria->getNome() ?></td>
					<td style="text-align: right;">
						<a href="<?php echo $this->url('application/default', array('controller' => 'categoria', 'action' => 'alterar', 'id' => $categoria->getId())) ?>">Editar</a> | 
						<a href="<?php echo $this->url('application/default', array('controller' => 'categoria', 'action' => 'remover', 'id' => $categoria->getId())) ?>">Remover</a>
					</td>
				</tr>
			<?php endforeach; ?>
		</tbody>
	</table>
	
	<?php echo $this->paginationControl($this->categorias,'Sliding','partials/paginator'); ?>

</div>
