<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
		<meta content="text/html; charset=UTF-8" http-equiv="content-type">
		
		<?php echo $this->headTitle('ZF2 ' . $this->translate('Skeleton Application'))->setSeparator(' - ')->setAutoEscape(false) ?>

        <!-- Le styles -->
		<?php
		echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
				->prependStylesheet($this->basePath() . '/css/style.css')
				->prependStylesheet($this->basePath() . '/css/bootstrap-theme.min.css')
				->prependStylesheet($this->basePath() . '/css/bootstrap.min.css')
		?>

        <!-- Scripts -->
		<?php
		echo $this->headScript()
				->prependFile($this->basePath() . '/js/bootstrap.min.js')
				->prependFile($this->basePath() . '/js/jquery.min.js')
				->prependFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
				->prependFile($this->basePath() . '/js/html5shiv.js', 'text/javascript', array('conditional' => 'lt IE 9',))
		;
		?>

		<style type="text/css">
			@page {
				margin-top: 0.6em;
				margin-left: 0.6em;
			}			
		</style>

    </head>
    <body>
		<h1>Cabeçalho do PDF</h1>
		
        <div class="container">
			<?php echo $this->content; ?>
            <hr>
            <footer>
                <p>&copy; 2005 - <?php echo date('Y') ?> by Zend Technologies Ltd. <?php echo $this->translate('All rights reserved.') ?></p>
            </footer>
        </div> <!-- /container -->
		<?php echo $this->inlineScript() ?>
    </body>
</html>
