<?php
$form = $this->form;
$form->setAttribute('action', $this->url('application/default', array('controller' => 'contato', 'action' => 'adicionar')));
$form->setAttribute('class', 'form-horizontal');
$form->prepare();
?>
<div class="row-fluid">
	<h1>Categorias</h1>
	<a class="pull-right" href="<?php echo $this->url('application/list', array('controller' => 'contato')) ?>">Voltar para a lista</a>
	<br />
	<br />
	<?php
	echo $this->form()->openTag($form);
	//echo $this->formCollection($form);
	
	echo $this->formHidden($form->get('id'));
	
	echo $this->formRow($form->get('nome'));
	echo '<br />';
	
	echo $this->formRow($form->get('email'));
	echo '<br />';
	
	echo $this->formRow($form->get('telefone'));
	echo '<br />';
	
	echo $this->formRow($form->get('celular'));
	echo '<br />';
	
	echo $this->formRow($form->get('categoria'));
	echo '<br />';
	
	echo $this->formRow($form->get('foto'));
	echo '<br />';
	
	echo $this->formRow($form->get('enviar'));
	echo '<br />';
	
	echo $this->form()->closeTag();
	?>
</div>
