<div class="row-fluid">
	<h1>Contatos</h1>
	<div class="pull-right">
	<a href="<?php echo $this->url('application/default', array('controller' => 'contato', 'action' => 'adicionar')) ?>">Novo Contato</a> | 
	<a href="<?php echo $this->url('application/default', array('controller' => 'contato', 'action' => 'gerar-pdf')) ?>">Gerar PDF</a>
	</div>
	<br />
	<br />
	<table class="table table-hover">
		<thead>
			<tr>
				<th style="width: 50px;">ID</th>
				<th>Nome</th>
				<th>Celular</th>
				<th>E-mail</th>
				<th>Categoria</th>
				<th style="text-align: right;">Ações</th>
			</tr>
		</thead>
		<tbody>
			<?php foreach ($this->contatos as $contato): ?>
				<tr>
					<td><?php echo $contato->getId() ?></td>
					<td><?php echo $contato->getNome() ?></td>
					<td><?php echo $contato->getCelular() ?></td>
					<td><?php echo $contato->getEmail() ?></td>
					<td><?php echo $contato->getCategoria() ?></td>
					<td style="text-align: right;">
						<a href="<?php echo $this->url('application/default', array('controller' => 'contato', 'action' => 'alterar', 'id' => $contato->getId())) ?>">Editar</a> | 
						<a href="<?php echo $this->url('application/default', array('controller' => 'contato', 'action' => 'remover', 'id' => $contato->getId())) ?>">Remover</a>
					</td>
				</tr>
			<?php endforeach; ?>
		</tbody>
	</table>
	
	<?php echo $this->paginationControl($this->contatos,'Sliding','partials/paginator'); ?>

</div>
